{% extends 'base.html' %} {% load static %} {% block meta %} {% endblock meta %}
{% block content %}

<div class="detail-container" style="min-width: 400px">
  <h1
    class="text-5xl font-extrabold"
    style="text-align: center; margin-top: 30px"
  >
    Detail Pesanan
  </h1>
  <div style="text-align: center">
    <table
      class="riwayat-table"
      style="
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 600px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      "
    >
      <tr style="text-align: left">
        <th>Waktu Pemesanan: {{data.detail_transaksi.0.waktu_pemesanan}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Nama Pelanggan: {{data.detail_transaksi.0.nama_pemesan}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Jalan: {{data.detail_transaksi.0.jalan_pemesan}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Kecamatan: {{data.detail_transaksi.0.kecamatan_pemesan}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Kota: {{data.detail_transaksi.0.kota_pemesan}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Provinsi: {{data.detail_transaksi.0.provinsi_pemesan}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Restoran: {{data.detail_transaksi.0.nama_cabang_restoran}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Jalan Restoran: {{data.detail_transaksi.0.jalan_restoran}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Kota Restoran: {{data.detail_transaksi.0.kota_restoran}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Provinsi Restoran: {{data.detail_transaksi.0.provinsi_restoran}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Makanan Yang Dipesan:</th>
        {%for item in data.detail_transaksi.0.makanan_dipesan%}
        <tr> </tr>
        <th>- {{item.foodname}} ({{item.amount}}) - {{item.notes}}</th>
        {%endfor%}
      </tr>
      <tr style="text-align: left">
        <th>Total Harga Makanan: {{data.detail_transaksi.0.total_harga_makanan}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Total Diskon: {{data.detail_transaksi.0.total_diskon}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Biaya Pengantaran: {{data.detail_transaksi.0.biaya_pengantaran}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Total Biaya: {{data.detail_transaksi.0.total_biaya}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Jenis Pembayaran: {{data.detail_transaksi.0.jenis_pembayaran.0}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Status Pembayaran: {{data.detail_transaksi.0.status_pembayaran}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Status Pesanan: {{data.detail_transaksi.0.status_pesanan}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Kurir: {{data.detail_transaksi.0.nama_kurir}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Plat Kendaraan: {{data.detail_transaksi.0.plat}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Jenis Kendaraan: {{data.detail_transaksi.0.jenis_kendaraan}}</th>
        <th></th>
      </tr>
      <tr style="text-align: left">
        <th>Merk Kendaraan: {{data.detail_transaksi.0.merk_kendaraan}}</th>
        <th></th>
      </tr>
    </table>
  </div>
</div>

<div class="table-container">
  <table
    class="riwayat-table"
    style="
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 600px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <tr style="background-color: #8cbcb2; text-align: center">
      <th>Status</th>
      <th>Timestamp</th>
    </tr>
    <tr>
      {%for status in data.detail_transaksi.0.status_timestamp%}
      <th>{{status.status}}</th>
      <th>{{status.timestamp}}</th>
      {%endfor%}
    </tr>
  </table>
</div>

{% endblock content %}
