{% extends 'base.html' %}
{% load static %}

{% block content %}

<form id="resto-category-form">
  <div class="flex justify-center">
    <div class="w-11/12">
      <h1 class="text-3xl font-bold text-indigo-600">
        Tambah Kategori Restoran
      </h1>
      <div class="mt-6">
        <p class="text-lg">Nama Kategori Restoran</p>
        <input type="text" name="name" class="w-full rounded-lg">
      </div>
    </div>
  </div>
  <div class="fixed bottom-0 w-full p-4">
    <button type="submit" class="w-full bg-indigo-500 py-3 rounded-xl hover:bg-indigo-600 duration-300 text-lg text-white">
      Simpan
    </button>
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(() => {
    $('#resto-category-form').submit((e) => {
      e.preventDefault()
      $.ajax({
        url: '/api/kategori-restoran/',
        type: 'POST',
        dataType: 'json',
        data: $('#resto-category-form').serialize(),
        success: (resp) => {
          location.href = '/kategori-restoran/'
        },
        error: (err) => {
          alert(err)
        }
      })
    })
  })
</script>

<script src="https://cdn.tailwindcss.com"></script>
<script>
  const buttons = document.querySelectorAll('button');
  buttons.forEach((btn) => {
    btn.addEventListener('click', function(e) {
      const x = e.clientX - this.offsetLeft;
      const y = e.clientY - this.offsetTop + window.pageYOffset;
      const ripples = document.createElement('span');
      ripples.className = `left-[${x}px] top-[${y}px]` + ' absolute bg-white -translate-x-1/2 -translate-y-1/2 rounded-full animate-ripple';
      this.appendChild(ripples);
      setTimeout(() => ripples.remove(), 500);
    })
  })
</script>

{% endblock content %}